In [2]:
import pandas as pd

In [ ]:
from get_data import get_article_data

df = get_article_data()
df

<!-- You need to create a Python function that takes a Pandas DataFrame as input and performs the following transformations:



Iterate through each column name.
Convert the column name to lowercase.
Replace any spaces in the column name with underscores (_).
Example: "Time Uploaded" becomes "time_uploaded".




Access the "reading_time" column.
For each value in the column, remove the string " min read" from the end.
Ensure that the remaining value in the column is converted to the appropriate datatype, probably an integer. -->

In [4]:
df.columns

Index(['Link', 'Title', 'Time Uploaded', 'Author', 'Tags', 'Reading Time',
       'Article Content', 'Word Count', 'Sentiment', 'Compound Score'],
      dtype='object')

In [5]:
df.columns=df.columns.str.lower()
df.columns= df.columns.str.replace(' ', '_')
df.columns

Index(['link', 'title', 'time_uploaded', 'author', 'tags', 'reading_time',
       'article_content', 'word_count', 'sentiment', 'compound_score'],
      dtype='object')

In [ ]:
# Access the "reading_time" column.
# For each value in the column, remove the string " min read" from the end.
# Ensure that the remaining value in the column is converted to the appropriate datatype, probably an integer.
df['reading_time']= df['reading_time'].str.replace(' min read', '')
df['reading_time']= df['reading_time'].astype(int)
df['reading_time']

In [ ]:
# Access the "article_content" column.
# For each value in the column, replace all occurrences of the newline character (\n) with an empty string ("").
df['article_content']= df['article_content'].str.replace('\n', '')
df['article_content']

In [ ]:
# After the transformations, ensure that each column has the correct data type (e.g., integer, string, date, etc.). You might need to use Pandas functions like astype() to enforce these data types.
# Determine the appropriate data types for each column based on the data that it contains.

#df.dtypes
df['time_uploaded']= pd.to_datetime(df['time_uploaded'])
df.dtypes

In [9]:
df= df.astype({
    'link': 'string', 
    'title' : 'string',
    'author' : 'string',
    'tags' : 'string',
    'reading_time' : 'int64',
    'article_content' : 'string',
    'word_count' : 'int64',
    'sentiment' : 'string',
    'compound_score' : 'float64'
})

In [10]:
df.columns

Index(['link', 'title', 'time_uploaded', 'author', 'tags', 'reading_time',
       'article_content', 'word_count', 'sentiment', 'compound_score'],
      dtype='object')

In [ ]:

# Define your Azure PostgreSQL connection details
USERNAME = "testtech"
PASSWORD = "Your_password"
HOST = "testtech.postgres.database.azure.com"
PORT = "5432"  
DATABASE = "postgres"


DATABASE_URL = f"postgresql://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}"

# Create an SQLAlchemy engine
engine = create_engine(DATABASE_URL)


#Push DataFrame to Azure PostgreSQL
df.to_sql("ammy", engine, if_exists="append", index=False)

print("Data pushed successfully!")

In [21]:
import psycopg2
import os

In [22]:
db_params= {
    'dbname' : "postgres",
    'user': "testtech",
    'password': os.getenv('DB_PASSWORD'),
    'host' : "testtech.postgres.database.azure.com",
    'port' : "5432"
}

try:
    conn = psycopg2.connect(**db_params)
    cursor=conn.cursor()

    query= """
    INSERT INTO ammy (link, title, time_uploaded, author, tags, reading_time, article_content, word_count, sentiment, compound_score)
    VALUES (%s, %s,%s,%s,%s, %s, %s, %s, %s, %s)
    ON CONFLICT (link) DO NOTHING;  --aviods duplicate primary key errors
    """

 #insert dataframe record one by one
    for _, row in df.iterrows():
        cursor.execute(query, (
            row['link'], row['title'],row['time_uploaded'], row['author'], row['tags'], 
            row['reading_time'], row['article_content'], row['word_count'], row['sentiment'], row['compound_score']
        ))

    conn.commit()
    print('data inserted successfully')

except Exception as e:
        print('Error:', e)

finally:
    if conn:
        cursor.close()
        conn.close()

Error: connection to server at "testtech.postgres.database.azure.com" (104.208.233.130), port 5432 failed: fe_sendauth: no password supplied

In [ ]:
# In the connected database, create a new table with your name (e.g., yourname).
# Define the columns with appropriate data types:

# The link column must be defined as the primary key.
# Analyze the transformed data to determine the correct data type for each column.
# Examples of datatypes are: text, integer, timestamp, date.


# Use the psycopg2 library to connect to the PostgreSQL database from your Python environment.
# Install psycopg2 with pip: pip install psycopg2-binary
# Use the provided credentials to establish the connection.




#### Iterate through the rows of your transformed Pandas DataFrame.
# For each row, construct an INSERT INTO SQL statement.
# Execute the SQL statement using the database connection.
# Commit the changes to the database.

<!-- You need to create a Python function that takes a Pandas DataFrame as input and performs the following transformations:

Iterate through each column name.
Convert the column name to lowercase.
Replace any spaces in the column name with underscores (_).
Example: "Time Uploaded" becomes "time_uploaded".




Access the "reading_time" column.
For each value in the column, remove the string " min read" from the end.
Ensure that the remaining value in the column is converted to the appropriate datatype, probably an integer. -->